@import "tailwindcss";


/* Basic global styles */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Set a dark background for the whole app */
  background-color: #111827; 
  font-family: 'Inter', sans-serif;
}